.card {
    position: relative;
}

.card img {
    width: 150px;
    height: 200px;
}

.card .front {
    transform: rotateX(90deg);
    position: absolute;

}

.flipped .front {
    transform: rotateY(0deg);
}